<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player 4's Page</title>
    <link rel="stylesheet" href="../static/player.css"><!--CSS-->
    <!--#fd7701-->
</head>
<body>
    <div id="playerBox" style="border: 10px solid #fd7701;">
        <div id="moneyBadge" class="badge" style="color: #fd7701;">${{amount}}</div>
        <div id="playerBadge" class="badge" style="color: #fd7701;">Player 3</div>


    </div>
</body>
</html>